<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= simple_form_for(@article) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
